body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(255, 248, 248);
}
.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 15px 0px;
    color: rgba(6, 133, 206, 0.1);
    border-bottom: 1px solid;
    padding-bottom:10px ;
    margin-bottom: 50px;
}
.blue{
    color: rgb(6, 133, 206);
}
.blue:hover{
    color: gray;
    cursor: pointer;
}
.logo{
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}
.top_nav{
    display: flex;
    align-items: center;
    width: 170px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.hyp{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: black;
}
.hyp:hover{
    color: gray;
    cursor: pointer;
}
.main_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.availability{
    background-color: rgba(6, 133, 206, 0.323);
    padding: 5px 12px;
    border-radius: 12px;
    margin: 10px 0px;
    font-size: 11px;
    font-weight: bold;
}
.name{
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0px;
    text-align: center;
}
.more_intro{
    text-align: center;
    font-size: 12px;
    margin: 5px 0px 15px;
    width: 270px;
    color: gray;
    font-size: 16px;
}
.btn_contact{
    background-color: rgb(6, 133, 206);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 10px 0px;
    cursor: pointer;
}
.btn_contact:hover{
    color: rgb(6, 133, 206);
    background-color: white;
    cursor: pointer;
    border-color: rgb(6, 133, 206);
    border: 0.5px solid;
}
.container2{
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.1);
    width: 270px;
}
.about{
    margin: 100px 20px;
}
.pfp{
    width: max-content;
}
.profile_pic{
    width: 80px;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.me{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
    padding: 0px;
    border: 0px;
}
.desc_full{
    text-align: center;
    font-size: 14px;
    color: gray;
}
.highlights1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
}
.highlight{
    padding: 4px 10px;
    border: 1px;
    border-color:rgb(6, 133, 206) ;
    border-radius: 10px;
    border-style: solid;
}
.highlight:hover{
    color: white;
    background-color: rgb(6, 133, 206) ;
    border-color: white;
    cursor: pointer;
}
.highlights2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}
.proj_head{
    display: flex;
    align-items: center;
    margin: 22px;
}
.head{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px;
    border: 0px;
}
.side_high{
    width: 50%;
    height: 4px;
    background: linear-gradient(to right , rgb(6, 133, 206) , white);
    opacity: 0.5;
    border: none;
}
.proj{
    background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) 50%,
      white 50%
    ),
    url("place1.png");

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 350px;
    margin: 30px 20px;
}
.minor_desc{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 50%;
    padding-top: 60%;
}
.head1{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px 5px;
}
.desc1{
    color: gray;
    margin: 10px 0px;
}
.linkers{
    margin: 5px 0px 0px;
}
.github{
    color: gray;
}
.github:hover{
    color: black;
    cursor: pointer;
}
.build{
    width: 270px;
    background: url("blue_back.png") center, no-repeat;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 20px 20px;
    box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
}
.start{
    color: white;
    font-size: 22px;
    text-align: center;
}
.description1{
    color: white;
    font-size: 16px;
    text-align: center;
}